<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Tallennetut vastaukset kysymyksen indeksin mukaan:</h1>
        <ul>
            <li th:each="vastaus: ${vastaukset}">
                <span th:text="${vastaus.kysymys_id}">teksti</span>
                <span th:text="${vastaus.vastausteksti}">tekst</span>
                <form th:action="@{~/delet/{id}(id=${vastaus.id})}" method="POST">
                    <input type="submit" value="Poista"/>
                </form>
            </li>
        </ul>
        <form method="POST" action="/vastaukset">
            Kysymyksen id: (kysymys linkistä selaamaan<br/>
            <input type="text" name="kysymys_id"/><br/>
            Vastaus:<br/>
            <input type="text" name="vastaus"/><br/>
            Onko oikein (TRUE/FALSE):<br/>
            <input type="text" name="oikeus"/><br/>
            <input type="submit" value="Lisää vastaus!"/>
        </form>
        <p><a href="/">Takaisin.</a></p>
        <p><a href="/kysymykset">Kysymyksiin.</a></p>
    </body>
</html>